---
layout: master
---
<!-- Header -->
		<header>
			<!--
		    <div class="sticky-nav">
		    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
		        
		        <div id="logo">
		        	<a  href="/" title="Aniket Handa">{{ site.name }}</a>
		        </div>
		        
		        <nav id="menu">
		        	<ul id="menu-nav">
		                <li id="menu-work-li" class="current"><a href="/#work">Work</a></li>
		                <li id="menu-about-li"><a href="/#about">About</a></li>
		            </ul>
		        </nav>
		    </div>
		    -->
		    <div class="sticky-nav">
		    	<div id="logo">
		        	<a  href="/" title="Aniket Handa">{{ site.name }}</a>
		        </div>
		        <nav id="menu">
				    <ul class="nav nav-tabs" id="pageTab">
						  <li class="active"><a href="#work">Work</a></li>
						  <li><a href="#playground">Playground</a></li>
						  <li><a href="#about">About</a></li>
					</ul>
		        </nav>
			</div>
		</header>
<!-- End Header -->

<div id="work" class="container">
	<div class="row">
	{% for post in site.categories.project %}
		<a href="{{ post.url }}">
		<div class="col-sm-6 col-md-4 page-thumb">
			<div>
				<img class="img-responsive" src="{{ post.imagesrc }}">
			</div>
			<div class="page-thumb-title">
				{{ post.subtitle }}
			</div>
		</div>
		</a>
	{% endfor %}
	</div>
</div>

<div class="container">

</div>

<div id="playground" class="container">
	<div class="row">
	{% for post in site.categories.playground %}
		<a href="{{ post.url }}">
		<div class="col-sm-6 col-md-4 page-thumb">
			<div>
				<img class="img-responsive" src="{{ post.imagesrc }}">
			</div>
			<div class="page-thumb-title">
				{{ post.subtitle }}
			</div>
		</div>
		</a>
	{% endfor %}
	</div>
</div>

<div id="about" class="container page">
	<div class="row">
		<div class="col-xs-12">
			<h2>Aniket Handa</h2>
		</div>
		<div class="col-xs-12">
			<h3>dream. design. develop</h3>
		</div>

		<div class="col-xs-12">
			<img class="img-responsive" src="http://www.gravatar.com/avatar/afcde942cfc8ffa1867c37939ebf057e?s=300" alt="Aniket image">
		</div>

		<div class="col-xs-12">
                <p>Hi! I am working towards creating new experiences using technology. As a software developer I give some special treatment to Image processing, Computer Vision and Mobile Apps. I enjoy developing, dreaming and photography. <br/> Find more interesting stuff at <a href= "posts.html">my blog</a></p>
        </div>

		<div class="col-xs-12">
			<h3>aniket <i class="font-icon-social-email" style="font-size: 18px"></i> uw.edu</h3>
		</div>
				
		<div class="col-xs-12">
			<div id="social-area">
				<nav id="social">
	                    <ul>
	                        <li><a href="http://twitter.com/atneik" title="Follow Me on Twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
	                        <li><a href="http://www.facebook.com/atneik" title="Follow Me on Facebook" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
	                        <li><a href="http://www.linkedin.com/in/atneik" title="Follow Me on LinkedIn" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
	                        <li><a href="http://www.github.com/atneik" title="Fork me on Github" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
	                        <li><a href="posts.html" title="Follow my Blog" target="_blank"><i class="fa fa-book fa-2x"></i></a></li>
	                    </ul>
	            </nav>
			</div>
		</div>
	</div>
</div>